<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>WebChat</display-name>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginOperation.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserI</display-name>
    <servlet-name>UserI</servlet-name>
    <servlet-class>com.octest.servlet.UserI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserI</servlet-name>
    <url-pattern>/UserI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>com.octest.servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>LoginOperation.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimMonCompte</display-name>
    <servlet-name>SupprimMonCompte</servlet-name>
    <servlet-class>Compte.SupprimMonCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimMonCompte</servlet-name>
    <url-pattern>/SupprimMonCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToPage</display-name>
    <servlet-name>ToPage</servlet-name>
    <servlet-class>pageHTTP.ToPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToPage</servlet-name>
    <url-pattern>/ToPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppMonCompte</display-name>
    <servlet-name>SuppMonCompte</servlet-name>
    <servlet-class>Compte.SuppMonCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppMonCompte</servlet-name>
    <url-pattern>/SuppMonCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajouter</display-name>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>web.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/Ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refuser</display-name>
    <servlet-name>Refuser</servlet-name>
    <servlet-class>web.Refuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refuser</servlet-name>
    <url-pattern>/Refuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptInvit</display-name>
    <servlet-name>AcceptInvit</servlet-name>
    <servlet-class>web.AcceptInvit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptInvit</servlet-name>
    <url-pattern>/AcceptInvit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show</display-name>
    <servlet-name>Show</servlet-name>
    <servlet-class>com.octest.servlet.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchData</display-name>
    <servlet-name>FetchData</servlet-name>
    <servlet-class>org.datafetching.FetchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchData</servlet-name>
    <url-pattern>/FetchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMessage</display-name>
    <servlet-name>addMessage</servlet-name>
    <servlet-class>com.chatApp.controllers.addMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMessage</servlet-name>
    <url-pattern>/addMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCall</display-name>
    <servlet-name>AjaxCall</servlet-name>
    <servlet-class>com.chatApp.controllers.AjaxCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCall</servlet-name>
    <url-pattern>/AjaxCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeMessages</display-name>
    <servlet-name>ListeMessages</servlet-name>
    <servlet-class>com.chatApp.controllers.ListeMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeMessages</servlet-name>
    <url-pattern>/ListeMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppelVideo</display-name>
    <servlet-name>AppelVideo</servlet-name>
    <servlet-class>com.chatApp.controllers.AppelVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppelVideo</servlet-name>
    <url-pattern>/AppelVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>call</display-name>
    <servlet-name>call</servlet-name>
    <servlet-class>com.chatApp.controllers.call</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>call</servlet-name>
    <url-pattern>/call</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCall2</display-name>
    <servlet-name>AjaxCall2</servlet-name>
    <servlet-class>com.chatApp.controllers.AjaxCall2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCall2</servlet-name>
    <url-pattern>/AjaxCall2</url-pattern>
  </servlet-mapping>
</web-app>